{% extends "app/base.html" %} {% load static %} {% block content %}
<!--//==Page Header Start==//-->
<div class="page-header black-overlay">
  <div class="container breadcrumb-section">
    <div class="row pad-s15">
      <div class="col-md-12">
        <h2>About Us</h2>
        <div class="clear"></div>
        <div class="breadcrumb-box">
          <ul class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="active">About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//==Page Header End==//-->
<!--//=======About Section Start=======//-->
<section class="about-section padT100">
  <div class="container">
    <!--//==Section Heading Start==//-->
    <div class="centered-title">
      <h2>About Us <span class="heading-border"></span></h2>
      <div class="clear"></div>
      <em
        >doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
        <br />inventore veritatis et quasi architecto beatae</em
      >
    </div>
    <!--//==Section Heading End==//-->
    <div class="content-container">
      <!--about Box-->
      <div class="about-box">
        <!--about Content-->
        <div class="about-content">
          <div class="about">
            <div class="clearfix">
              <!--Image Column-->
              <div class="column image-column col-md-6 col-sm-6 col-xs-12">
                <div class="inner">
                  <figure class="image-box">
                    <img src="{% static 'img/all/featured-image.png' %}" alt="" />
                  </figure>
                </div>
              </div>
              <!--Content Column-->
              <div class="column content-column col-md-6 col-sm-6 col-xs-12">
                <div class="inner padT100">
                  <h2>Laudantium, totam rem aperiam</h2>
                  <p>
                    It has survived not only five centuries, but also the leap
                    into ele ctronic typesetting, remaining essentially un
                    changed The industry's standard dummy text ever since
                    doloremque .
                  </p>
                  <div class="row hidden-xs hidden-sm padTB50">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <img
                        src="{% static 'img/all/about-1' %}"
                        class="img-circle"
                        alt=""
                      />
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <img
                        src="{% static 'img/all/about-2' %}"
                        class="img-circle"
                        alt=""
                      />
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <img
                        src="{% static 'img/all/about-3' %}"
                        class="img-circle"
                        alt=""
                      />
                    </div>
                  </div>
                  <p>
                    leap into ele ctronic typesetting, changed The text ever
                    since doloremque laudantium, totam rem aperiam.
                  </p>
                  <div class="clear"></div>
                  <a href="#" class="theme-button marT10">Read more</a>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//=======About Section End=======//-->
<section class="about-section grey-bg padTB100">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="marB10">Scrambled it to make</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
          fermentum eros at mi varius sagittis. In vel nisi nec mauris blandit
          elementum. Donec in tincidunt est, eget ullamcorper libero. Nulla
          lacinia libero in est vulputate ullamcorper. Vestibulum dictum
          lobortis mi, a placerat ex blandit ut. Donec diam felis, convallis in
          metus id, convallis pellentesque dui. Donec eget mi ac eros tempus
          tincidunt. Nam egestas imperdiet mauris at viverra. In efficitur, diam
          ac volutpat tempus, dui neque lacinia ligula, pharetra fringilla elit
          diam non orci. Integer eget fringilla velit. Donec luctus, nisi non
          pharetra porta, elit felis laoreet metus, ac aliquam lacus risus et
          tortor. Mauris porta enim quam. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Nullam et rhoncus
          enim.
        </p>
        <p>
          Donec id auctor odio. Morbi eget magna aliquam velit accumsan
          ultrices. Quisque et egestas elit. Mauris et finibus velit. Quisque in
          pharetra lorem. Quisque eget felis non ex consectetur iaculis in at
          dolor. Vivamus velit turpis, euismod quis sollicitudin nec,
          ullamcorper porttitor nunc. Nullam quis urna ac diam commodo commodo.
          Phasellus congue semper metus sit amet porta. Suspendisse non suscipit
          odio. Praesent in imperdiet ante, at laoreet turpis.
        </p>
      </div>
    </div>
  </div>
</section>
<!--//=======Our Team Section Start=======//-->
<div class="our-team-main padTB100">
  <div class="container">
    <div class="row">
      <!--//==Section Heading Start==//-->
      <div class="col-md-12">
        <div class="centered-title">
          <h2>Our Chefs <span class="heading-border"></span></h2>
          <div class="clear"></div>
          <em
            >dNam ac egestas est. Mauris et pulvinar risus, at tincidunt lorem.
            Maecenas<br />
            tristique sit amet odio sit amet aliquet.</em
          >
        </div>
      </div>
      <!--//==Section Heading End==//-->
      <div class="our-team-carousel">
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/1.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/2.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/3.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/4.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/5.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/3.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/1.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
        <!--//==Team Item==//-->
        <div class="col-md-3 col-sm-4 col-xs-12 latest-team-item">
          <div class="wa-team">
            <div class="wa-team-thumbnail item our-team-item wa-item">
              <img src="{% static 'img/team/2.jpg' %}" alt="" />
              <div class="caption">
                <div class="caption-text">
                  <div class="clear"></div>
                  <div class="wa-team-caption">
                    <ul class="wa-team-icon">
                      <li>
                        <a href="#" title="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="twiiter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" title="google-plus"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="clear"></div>
                    <a href="team-detail.html" class="theme-button marT10"
                      >view detail</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mask-top-upper">
              <div class="mask-top">
                <h4>John Doe</h4>
                <span>(Sr. Chef)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//=======Our Team Section End=======//-->
<!--//=========Fun Facts Start=========//-->
<section class="fun-facts">
  <div id="fun-factor" class="padTB100 fun-fact-section dark-theme-fun-fact">
    <div class="container">
      <div class="row text-center fact-counter pad-s15">
        <!--//==Facts Counter Item==//-->
        <div class="col-xs-12 col-sm-6 col-md-3 marB-s30">
          <!-- Icon -->
          <div class="count-number" data-count="1048">
            <h2><span class="counter">1048</span>+</h2>
          </div>
          <!-- Title -->
          <h2>Customers</h2>
        </div>
        <!--//==Facts Counter Item==//-->
        <div class="col-xs-12 col-sm-6 col-md-3 marB-s30">
          <!-- Icon -->
          <div class="count-number" data-count="400">
            <h2><span class="counter">400</span>+</h2>
          </div>
          <!-- Title -->
          <h2>Dishes</h2>
        </div>
        <!--//==Facts Counter Item==//-->
        <div class="col-xs-12 col-sm-6 col-md-3 marB-s30">
          <!-- Icon -->
          <div class="count-number" data-count="100">
            <h2><span class="counter">100</span>%</h2>
          </div>
          <!-- Title -->
          <h2>Fresh Food</h2>
        </div>
        <!--//==Facts Counter Item==//-->
        <div class="col-xs-12 col-sm-6 col-md-3 marB-s30">
          <!-- Icon -->
          <div class="count-number" data-count="20">
            <h2><span class="counter">20</span>+</h2>
          </div>
          <!-- Title -->
          <h2>Branches</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//=========Fun Facts End=========//-->
<!--//=========Partners Start=========//-->
<section class="wa-partners padTB100">
  <div class="container">
    <div class="row">
      <!--//==Section Heading Start==//-->
      <div class="col-md-12">
        <div class="centered-title">
          <h2>Our partners <span class="heading-border"></span></h2>
          <div class="clear"></div>
          <em
            >dNam ac egestas est. Mauris et pulvinar risus, at tincidunt lorem.
            Maecenas<br />
            tristique sit amet odio sit amet aliquet.</em
          >
        </div>
      </div>
      <!--//==Section Heading End==//-->
      <div class="col-md-12">
        <div class="row">
          <div
            class="wa-partner-carousel owl-carousel-style1 text-center owl-carousel owl-theme"
          >
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/1.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/2.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/3.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/4.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/5.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/6.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/7.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
            <div class="partener-item">
              <div class="col-md-12">
                <div class="wa-theme-design-block">
                  <figure class="dark-theme">
                    <img src="{% static 'img/partner/8.jpg' %}" alt="Thumbnail" />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//=========Partners End=========//-->
{% endblock content %}
