{% extends "app/base.html" %}
{% load static %}
{% block content %}

        <!--//=========Dish Detail Start=========//-->
        <section class="page_single">
            <div class="container">
                <div class="row padTB100">
                    <div class="prod-info-section">
                        <div class="clearfix">
                            <!--Thumbnail Column-->
                            <div class="carousel-column col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <div class="wa-product-main-image marB20">
                                    <a href="{% static 'img/dishes/dish-detail.jpg' %}" class="fancybox" data-fancybox-group="group" title="Roasted Chicken"> <img src="{% static 'img/dishes/dish-detail.jpg' %}" alt=""> </a>
                                </div>
                            </div>
                            <!--Content Column-->
                            <div class="content-column col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <div class="outer wow fadeInRight">
                                    <div class="title-box">
                                        <div class="inner marB30">
                                            <h2>Roasted Chicken.</h2>
                                            <span class="price">								
                                            $100
                                            <del>$200</del>
                                            </span>
                                            <ul class="ratings">
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                            </ul>
                                            <p class="availability in-stock"><strong>Availability:</strong> <span>In stock</span></p>
                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies .</p>
                                            <p>It has survived not only five centuries, but also the leap into ele ctronic typesetting, remaining essentially un changed The industry's standard dummy text ever 
                                                since.
                                            </p>
                                        </div>
                                        <div class="clear"></div>
                                        <!--Options-->
                                        <div class="prod-options marB10">
                                            <div class="clearfix">
                                                <div class="col-md-2 col-sm-3 padL0">
                                                    <div class="form-group">
                                                        <label><strong>Qty :</strong> </label>
                                                        <div class="clear"></div>
                                                        <input type="number" name="qty" value="2" max="10" min="0" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 padL0">
                                                    <div class="form-group">
                                                        <label><strong>Pack type :</strong> </label>
                                                        <div class="clear"></div>
                                                        <select name="sel-color">
                                                            <option>Select Pack type</option>
                                                            <option>Full</option>
                                                            <option>Hlaf</option>
                                                            <option>Quater</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-4 padL0">
                                                    <div class="form-group">
                                                        <label><strong>Gravy Type :</strong> </label>
                                                        <div class="clear"></div>
                                                        <select name="sel-color">
                                                            <option>Select Gravy</option>
                                                            <option>Dry</option>
                                                            <option>Liquid</option>
                                                            <option>Semi Liquid</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 padL0 quantity">
                                                    <label><strong>Tags</strong></label>
                                                    <div class="tag-list">
                                                        <a class="btnlight" href="#"><i class="fa fa-tags" aria-hidden="true"></i> chicken</a> 
                                                        <a class="btnlight" href="#"><i class="fa fa-tags" aria-hidden="true"></i> icecream</a>   
                                                        <a class="btnlight" href="#"><i class="fa fa-tags" aria-hidden="true"></i> chinese</a>
                                                        <a class="btnlight" href="#"><i class="fa fa-tags" aria-hidden="true"></i> corn</a>    
                                                        <a class="btnlight" href="#"><i class="fa fa-tags" aria-hidden="true"></i>fish</a>
                                                        <a class="btnlight" href="#"><i class="fa fa-tags" aria-hidden="true"></i> veg</a>
                                                        <a class="btnlight" href="#"><i class="fa fa-tags" aria-hidden="true"></i> italian</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Add-->
                                    <div class="add-options">
                                        <button type="button" class="theme-button">Order Now</button>
                                        <button type="button" class="theme-button"><span class="fa fa-heart"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//=========Dish Detail End=========//-->
							
{% endblock content %}