{% extends "app/base.html" %}
{% load static %}
{% block content %}

        <!--//=======Main Slider=======//--> 	 			
        <div class="wa_main_bn_wrap">
            <div id="home1-main-slider" class="owl-carousel owl-theme">
                <div class="item">
                    <figure>
                        <img src="{% static 'img/slider/1.jpg' %}" class="hidden-xs hidden-sm " alt=""/>
                        <img src="{% static 'img/slider/1xs.jpg' %}" class="hidden-lg hidden-md" alt=""/>
                        <figcaption>
                            <span>vero volo in esse quam maximam</span>
                            <h2><span class="wa-theme-color">Restaurant & Cafe template</span></h2>
                            <p>Quis est tam dissimile homini. Quia dolori non voluptas.</p>
                            <a href="#" class="theme-button">read more</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="item">
                    <figure>
                        <img src="{% static 'img/slider/2.jpg' %}" class="hidden-xs hidden-sm " alt=""/>
                        <img src="{% static 'img/slider/2xs.jpg' %}" class="hidden-lg hidden-md" alt=""/>
                        <figcaption>
                            <span>vero volo in esse quam maximam</span>
                            <h2><span class="wa-theme-color">Restaurant & Cafe template</span></h2>
                            <p>Quis est tam dissimile homini. Quia dolori non voluptas.</p>
                            <a href="#" class="theme-button">read more</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="item">
                    <figure>
                        <img src="{% static 'img/slider/3.jpg' %}" class="hidden-xs hidden-sm" alt=""/>
                        <img src="{% static 'img/slider/3xs.jpg' %}" class="hidden-lg hidden-md" alt=""/>
                        <figcaption>
                            <span>vero volo in esse quam maximam</span>
                            <h2><span class="wa-theme-color">Restaurant & Cafe template</span></h2>
                            <p>Quis est tam dissimile homini. Quia dolori non voluptas.</p>
                            <a href="#" class="theme-button">read more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <!--//=======Main Slider End=======//--> 



                <!--//=============Dishes Start============//-->
                <div class="wa-dishes-main padTB100">
                    <div class="container">
                        <div class="row">
                            <!--//==Section Heading Start==//-->
                            <div class="col-md-12">
                                <div class="centered-title">
                                    <h2>Special Dishes <span class="heading-border"></span></h2>
                                    <div class="clear"></div>
                                    <em>dNam ac egestas est. Mauris et pulvinar risus, at tincidunt lorem. Maecenas<br>
                                    tristique sit amet odio sit amet aliquet.</em>
                                </div>
                            </div>
                            <!--//==Section Heading End==//-->
                        </div>
                        <div class="row" id="MixItUp1">
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix" >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/11.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">
                                            Cakes</a>
                                        </h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix" >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/7.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">
                                            Italian pizza</a>
                                        </h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix" >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/10.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">
                                            Drinks</a>
                                        </h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix " >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/9.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">
                                            meals</a>
                                        </h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix" >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/8.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">
                                            Icecreams</a>
                                        </h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix " >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/6.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">Chinese</a></h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix" >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/12.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">
                                            Treditionals</a>
                                        </h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--//==Dishes Item==//-->
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix" >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src="{% static 'img/dishes/13.jpg' %}" alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">Chicken</a></h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                        <del>$200</del>
                                        $100
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <!--//=============Dishes End============//-->

   
							
{% endblock content %}